@import "../node_modules/materialize-css/sass/components/color-variables";
@import "config";

.contact-link {
  font-size: 1.5em;
  margin: 1.5rem;
  float: left;

  button {
    margin-right: 1em;
    font-size: 1em;

    .icon {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      color: color('grey', 'lighten-4');

      svg {
        width: 2rem;
        height: 2rem;
      }
    }
  }

  &:hover,
  &:focus {
    text-decoration: underline;

    & > button {
      background-color: $primary-color !important;
    }
  }
}
