// needed to import variables
@import "../node_modules/materialize-css/sass/components/color-variables";
// needed for media query
@import "../node_modules/materialize-css/sass/components/variables";

.hide-on-large-and-down {
  display: none;

  @media #{$extra-large-and-up} {
    display: block;
  }
}

.hide-on-extra-large {
  display: block !important;
  display: block;

  @media #{$extra-large-and-up} {
    display: none !important;
  }
}

.welcome-title {
  @media #{$medium-and-down} {
    margin-top: 20%;
  }
}

.about-grid {
  @media (max-width: 702px) {
    display: block !important;

    .cv-card {
      display: none;
    }

    .small-screen-cv-link {
      display: flex !important;
    }
  }

  .about-text {
    @media #{$medium-and-down} {
      padding: 3rem !important;
    }
  }
}

.contact-link {
  @media #{$small-and-down} {
    float: none !important;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
