@import "../node_modules/materialize-css/sass/components/color-variables";

@import "config";

.project-card {
  // reposition elements to create space, then visually scale element back up
  transition: transform $scale-time $position-time ease-in, width $position-time ease-in, height $position-time ease-in,
    padding $position-time ease-in;

  &.filtered-out {
    transform: scale(0, 0);
    width: 0 !important;
    height: 0;
    padding: 0;
    // visually scale card then shrink to reposition remaining elements
    transition: transform $scale-time ease-out, width $position-time $scale-time ease-out,
      height $position-time $scale-time ease-out, padding $position-time $scale-time ease-out;
  }

  .toggle-button {
    font-family: inherit;
    color: inherit;
    background-color: inherit;
    border: none;
    width: 100%;
    cursor: pointer;
  }

  .image {
    padding: 5px;
    cursor: pointer;
  }

  .flex-title {
    display: flex;
    justify-content: space-between;
    font-size: 24px;
    min-height: 3em;
    font-weight: 300;

    .icon {
      margin-left: 0.5em;
    }

    span {
      width: 100%;
      text-align: center;
    }
  }

  .card-content {
    // standardise card height
    height: 120px;

    .flex-title {
      line-height: 32px;
      margin-bottom: 8px;
    }
  }

  .description {
    white-space: pre-wrap;
    // prevent content from being hidden behind card action
    // card action height is 143px, 0.5em allows for dexription text height
    max-height: calc(100% - 143px - 0.5em);
    overflow-y: scroll;
    padding-right: 0.5em;

    &::-webkit-scrollbar {
      background-color: inherit;
      width: 5px;
    }
    &::-webkit-scrollbar-thumb {
      background-color: color("grey", "darken-2");
      border-radius: 5px;
    }
  }

  .tags {
    text-transform: uppercase;
  }

  // .action-btn {
  //   display: block;

  //   &.mb {
  //     margin-bottom: 4px;
  //   }

  //   &:hover,
  //   &:focus {
  //     opacity: 0.9;
  //     transition: opacity 0.4s ease-out;
  //   }

  //   svg {
  //     margin-left: 1rem;
  //   }
  // }
}
