.skill-logo {
  margin-bottom: 1rem;

  .img-container {
    width: 100%;
    // makes square
    padding-bottom: 100%;
    // for positioning children
    position: relative;
    margin-bottom: 10px;
  }
}
